* {
    box-sizing: border-box;
}

main {
    position: relative;
}

.mb-4 {
    width: 200px;
    height: 140px;
    margin-top: 80px;
}

/*radio*/
.currency {
    position: relative;
    height: 48px;
    width: 48px;
}

.currency__radio {
    position: absolute;
    opacity: 0;
}

.currency__radio:checked+.img__radio {
    filter: none;
    border-color: tomato;
}

.img__radio {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: grayscale(100%);
    border: 1px dashed transparent;
    border-radius: 10px;
}

.img__radio_dollar {
    background-image: url("../img/dollar.png");
}

.img__radio_euro {
    background-image: url("../img/euro.png");
}

.img__radio_ruble {
    background-image: url("../img/ruble.png");
}

/*table*/

.euro {
    background: url("../img/euro.png") center/contain no-repeat;
    height: 40px;
    width: 60px;
}

.ruble {
    background: url("../img/ruble.png") center/contain no-repeat;
    height: 40px;
    width: 60px;
}

.dollar {
    background: url("../img/dollar.png") center/contain no-repeat;
    height: 40px;
    width: 60px;
}

#orders tr {
    cursor: pointer;
}

#orders .taken {
    background: #28a745;
    color: #fff;
}

/*modal*/

.modal {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal .deadline {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

.modal-content {
    display: block;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    overflow-y: auto;
}

.modal-currency span {
    display: inline-block;
    vertical-align: middle;
    filter: none;
}


#block-customer {
    display: none;
}

#block-freelancer {
    display: none;
}

#btn-exit {
    position: absolute;
    display: none;
    top: 3rem;
    right: 1rem;
    padding: 0.5rem 3rem;
}

.thead-sort {
    cursor: pointer;
}

.thead-sort:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-title {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

.description {
    font-size: 10px;
}

span.text {
    font-size: 20px;
}

.row {
    display: flex;
}